<div class="conainer">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/camera/coupon/july23/hero/Coupon_Tallhero_3000x1200._CB602723073_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonBusiness/BVD_B2C/Hero/HeroBanner5_3000x1200_1606._CB602347062_.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Madhav/June/itelPD/D86691038_PC_Hero_3000x1200._CB602826344_.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    

    <!-- Section-->

    <div class="container" >
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div id="card1" class="col mb-5" *ngFor="let product of allproducts | filter : searchTerm :'title'">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image"alt="..." /> 
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>

                            
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5 class="review-count">12 Reviews</h5>
                                
                            <!-- Product price-->
                           <p style="font-weight: 800;">Price : {{product.price}}</p> 
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="viewproduct/{{product.id}}">View Product</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    