<!--Amazon Image Logo-->
<div class="d-flex flex-row justify-content-center">
    <div class="row">
        <div class="col-md">
            <img id="logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png">
        </div>
    </div>
</div>


<div class="d-flex flex-row justify-content-center">
    <div class="row">
        <div class="col-md">
            <form>
                <div class="sign-in">Sign In</div>
                <div class="form-group">
                    <label id="words_1" for="exampleInputEmail1">Email or mobile phone number</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div> <br>
                <div class="form-group">
                    <label id="words_2" for="exampleInputPassword1">Password
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-weight: 400;">Forgot your password?</span>
                    </label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                    <div class="form-group">
                        <button type="button" class="btn btn-warning" id="sign-in">Sign In</button>
                        <p class="keep-sign-in">By continuing, you agree to Amazon's <span>Condition of<br>use</span>
                            and <span>Privacy notice</span></p>
                        <input style="border-color: rgb(173, 178, 183); margin-left: 30px;" type="checkbox"
                            class="form-check-input checkbox" id="exampleCheck1">
                        <p style="margin-left: 60px; margin-top: -20px;">Keep me signed in. <span>Details</span></p>

                    </div>
                </div>
                <div class="form-check">
                    <hr>
                    <p style="margin-left: 90px;">New to Amazon?</p>

                </div>
                <button type="button" class="btn btn-warning" id="grey-button">Create your Amazon account</button>

            </form>
        </div>
    </div>
</div>
<!--Form-->




<div class="d-flex flex-row justify-content-center footer_1">
    <div class="row">
        <div class="col">
            <p class="conditions"></p>
        </div>
    </div>
    <div class="container">
        <span style="font-size: 13px;">Amazom
            Terms</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
            style="font-size: 13px;">Privacy</span>
        <p style="font-size: 12px; margin-top: 30px;">© 1996-2023,
            Amazon.com, Inc. or its affiliates</p>
    </div>

</div>